/**Óscar Comes Guardiola**/

/**RESET**/
html, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**HEADER (NAV MENU)**/
header {
	display: flex;
	flex-direction: row;

	background: white;
	position: sticky;
	top: 0;



	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	/**background-image: linear-gradient(to right, #cfbdd5,white,#cfbdd5,#cfbdd5);**/

	box-shadow: 0px 0px 14px 0px #9885c5;
}

header > a > img {
	width: 5em;
	position: absolute;
	right: 20px;
	top: 2px;
}

header > nav {
	text-align: center;
	display: flex;
	/*margin-left: 10%;*/
}

#menu a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

header > nav > ul {
		list-style-type: none;
}

header > nav > ul > li {
	display: inline-block;
	text-align: center;
}

header > nav > ul > li > a {
	text-decoration: none;
	font-size: 20px;
	font-family: "NunitoSans";
	cursor: pointer;
	color: 	#621e7d;
	letter-spacing: 1.2px;
	text-align: center;
	transition: .5s;
}

header > nav > ul > li > a:hover{
	color: white;
	background-image: linear-gradient(to right, #6233b9,#521266);
}

.active {
		background-image: linear-gradient(to right, #6233b9,#521266);
		color: white;
}

/**SELECTION**/
h1::selection {
	background: #621e7d;
	color: white;
}
h2::selection {
	background: #621e7d;
	color: white;
}
h3::selection {
	background: #621e7d;
	color: white;
}
strong::selection {
	background: #621e7d;
	color: white;
}
p::selection {
	background: #621e7d;
	color: white;
}

a::selection {
	background: #621e7d;
	color: white;
}

td::selection {
	background: #621e7d;
	color: white;
}

th::selection {
	background: #621e7d;
	color: white;
}

caption::selection {
		background: #621e7d;
		color: white;
}

/**TEXT CONFIG**/

p {
	font-family: NunitoSans;
	font-size: 1.3em;
	text-align: justify;
}

strong {
	color: #621e7d;
	font-family: BreeSerif;
}

/**HEADERS CONFIG**/
h1 {
	color: #621e7d;
	font-family: "BreeSerif";
	padding-bottom: 20px;
	text-align: center;
	font-size: 50px;
	font-weight: 1;
	text-shadow: 2px 2px #beaaee;
	font-weight: 900;
}

#homeh1	{
	font-family: CallingHeart;
	padding-top: 30px;
}

h2, h3 {
	text-align: center;
	font-family: BreeSerif;
}

h2 {
	font-size: 2.2em;
	color: #621e7d;
	text-shadow: 2px 2px #beaaee;
}

h3 {
	font-size: 1.5em;
	color: #621e7d;
	text-shadow: 2px 2px #beaaee;
	margin: .5em auto;
}

main a {
	color: #8233b9;
}






.bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -100;
}
.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}



/**PAGE LAYOUT (GENERAL)**/
body {
	background-image: url(../images/fondo1.jpg) no-repeat center center fixed;
	background-size: cover;
}

main {
	margin: 0px auto;
	width: 80%;
	background: white;
	letter-spacing: 1.2px;
	box-shadow: 0px 0px 14px 0px #9885c5;
	padding-bottom: 1em;
	display: flex;
}

section {
	margin: 2.2em 5em;
	background: white;
}

/**FOOTER**/
footer {
	background-image: linear-gradient(to right, #6233b9,#521266);
	box-shadow: 0px 0px 40px 0px #9885c5;
	margin: 0 10%;
	display: flex;
	padding: 2em 0;
	justify-content: space-between;
}

footer > p {
	font-family: AzeretMono;
	color: white;
	margin-left: 2em;
	margin-top: .8em;
	margin-right: 2em;

}

footer > img {
	width: 7em;
	margin-right: 2em;
}

footer > p > a {
	color: white;
}


/***************   INDEX   **************/

/**H1 AND LOGO BOXES**/
#top-container > *{
	margin: 0 0.5em;
}

#circle-logo {
	width: 7em;
}

/**TRAILER VIDEO CONFIG**/
#video-section > p{
	text-align: center;
}

#trailer-container {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#top-container {
	display: flex;
	justify-content: center;
	padding-top: 1em;
}

/***************   ARTISTS   **************/


.artist-box {
	width: 80%;
	border: 2px solid #6233b9;
	box-shadow: 0px 0px 24px 4px #6233b9;
	background-image: url(../images/box-background.jpg);
}

.artist-box > div {
	display: flex;
}

.artist-box > div > figure {

	margin: 0 2em;
}

.artist-box > div > figure > img{
	border: 2px solid #6233b9;
	box-shadow: 0px 0px 24px 4px #6233b9;



}

.artist-box > div > figure > figcaption{
	color: #6233b9;
	text-align: center;
	margin: 1em 0 0.5em 0;
	font-family: NunitoSans;


}


.artist-box > div > p{
	font-size: 1.5em;
	margin-left: 1em;
}


.artist-box > h3{
	padding-bottom: 0.2em;
	background: #6233b9;
	color: white;


}

aside {
 	width: 20%;
 	float: right;
}

aside > nav {
	flex-direction: column;
}

aside > nav > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

aside > nav > ul > li {
	margin: 1em auto;
	text-align: center;
	background: white;
	width: 100%;

}

aside > nav > ul > li > a:hover{
	color: white;
}

aside > nav > ul > li:hover{
	background-image: linear-gradient(to right, #6233b9,#521266);
}

aside > nav > ul > li > a {
	text-decoration: none;
	font-size: 100%;
	font-family: "NunitoSans";
	cursor: pointer;
	color: 	#621e7d;
	letter-spacing: 1.2px;
	text-align: center;
	display: block;
	width: 12em;
	padding: 1em 0;

}

.article-w-aside > p {
	width: 80%;
	margin-left: 6%;
}

.video-box {
	text-align: center;
	margin: 2em 0;
}


/***************   LOCATIONS   **************/


.article-w-content > p {
	margin: 0 5%;
}

.location-box {
	border: 2px solid #6233b9;
	box-shadow: 0px 0px 24px 4px #6233b9;
	margin: 3% 5% 6% 5%;
	padding-bottom: 1.5vh;
	background-image: url(../images/box-background.jpg);
}

.location-box > p {
	text-align: center;
	color: #8600bb;
	text-shadow: 0 0 7px #cf00ee;
  font-family: BreeSerif;
  margin-bottom: 1%;
  background: #6233b9;
	color: white;
	padding: .5vh 0;
}

.location-box > div {
		display: flex;
		justify-content: center;
}

.address-box {
	margin-right: 30px;
}

.address-box > address {
	margin-bottom: .5em;
	text-align: center;
	font-family: NunitoSans;
	color: #8600bb;
	text-shadow: 0 0 7px #6233b9;
	font-size: 2vh;
}

.address-box > iframe {
		box-shadow: 0px 0px 24px 4px #6233b9;
}

.address-description {
	width: 66%;
}

.address-description > p {
	margin: 0 1em;
	font-size: 3vh;
	line-height: 5vh;
}


/***************   TICKETS   **************/


#tickets-section {
	text-align: center;
	box-shadow: 0px 0px 24px 4px #6233b9;
	padding-bottom: 2em;
	background-image: url(../images/tickets-background.jpg);
}

#tickets-section > table {
	margin: 0 auto;
	width: 90%;
	padding: 1em 0;
}

caption {
	font-family: BreeSerif;
	font-size: 2.5em;
	color: #621e7d;
	text-shadow: 2px 2px #beaaee;
	margin-top: .2em;
}

td, th {
	padding: 5px;
	font-family: NunitoSans;
}

th {
	border: 2px solid #6233b9;
	background: #6233b9;
	color: white;
	text-transform: uppercase;
}

/***************   CONTACT   **************/





/**FONTS**/
@font-face {
	font-family: 'CallingHeart';
	src: url('../fonts/CallingHeart.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'NunitoSans';
	src: url('../fonts/NunitoSansRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'AzeretMono';
	src: url('../fonts/AzeretMonoRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'BreeSerif';
	src: url('../fonts/BreeSerifRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}